.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__blob {
    width: 200px;
    fill: var(--first-color);
}

.home__blob-img {
    width: 170px;
    transform: scale(1.5)
}

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: var(--big-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
}

.button {
    display: flex;
    width: fit-content;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    font-size: var(--font-medium);
}

.button img {
    width: 1.5rem;
    margin-left: var(--mb-0-5);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}

.home__social-icon img {
    width: 2rem;
}


@media screen and (max-width: 350px) {
    .home__content {
        grid-template-columns: .25fr 3fr;
    }
    .home__blob {
        width: 180px;
    }
}

@media screen and (min-width: 568px){
    .home__container {
        display: flex !important;
        flex: auto;
    }
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data {
        flex: 3
    }
    .home__img {
        order: 1;
        justify-content: center;
    }
    .button {
        padding: var(--mb-0-5) !important;
    }
}

@media screen and (min-width: 768px) {
    .home__container {
        display: flex !important;
        flex: auto;
    }
    .home__img {
       flex: 2
    }
    .home__data {
        flex: 3
    }
    .section {
        padding: 6rem 0 0rem;
    }
    .home {
        padding-top: 6rem !important;
    }
}

@media screen and (min-width: 1024px) {
    .home__container {
        width: 1023px;
        margin: 0 auto !important;
    }
    .header {
        padding: 0px;
    }
    .button {
        padding: var(--mb-1) !important;
    }
    .home__data {
        flex: 5
    }
    .home__blob {
        width: 320px;
    }
    .section {
        padding: 6rem 0 0rem;
    }
    .home {
        padding-top: 6rem !important;
    }
}
